# ignore all binaries:
# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# Unignore license files
!LICENSE*

!.gitignore
build/*
autogen*
wavegen_mod/legacy
wavegen_mod/notes.txt

